header {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    text-align: center;
}

.navbar-brand {
    font-size: 32px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 0px;
}

.navbar {
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
}


