header {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
}

.navbar-brand {
    font-size: 32px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
}


li a.nav-link:hover {
    text-shadow: 1.2px 1px whitesmoke;
}

.icon {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

a.icon:hover,
a:hover {
    text-shadow: .5px 1px whitesmoke;
    color: #fff;
}

.front-1 {
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

.tittle-2 {
    font-size: 24px;
    line-height: 28px;
}

.tittle-1 {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    line-height: 86px;
}

.aboutMe .part-1,
.aboutMe .part-2 {
    width: auto;
}

.curriculumVitae button {
    /* border: .5px solid white; */
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.5s;
    font-size: 15px;
}

.aboutMe,
.ourWork,
.education,
.contact {
    font-family: 'Nunito', sans-serif;
}

.progress {
    padding-right: 0px;
    padding-left: 0px;
    height: .5rem;
}

.progress-bar {
    background-color: #000;
}

.col-6 {
    max-width: none;
}

.aboutMe p {
    color: gray;
}

.ourWork .col {
    border: 1px dotted #e7e7e7;
    border-radius: 10px;
}

.iconServices {
    font-size: 34px;
}

.line-grey::after,
.line-grey::before {
    display: inline-block;
    margin-top: -7px;
    vertical-align: middle;
    content: "";
    background-color: #d0d0d0;
    width: 30px;
    height: 1px;
}


.education h2,
.edu-item h4,
.contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.edu-item span,
.contact span {
    font-weight: bold;
}

.edu-box {
    border: 1px dotted #e7e7e7;
    border-radius: 10px;
    padding: 30px;
}

@media (max-width: 777px) {
    header {
        min-height: 900px;
    }
}

@media (max-width: 380px) {
    .sanLuis {
        padding-bottom: 50px;
    }

    .cuc {
        padding-bottom: 50px;
    }
}

@media (max-width: 380px) {
    form .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .fix {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 350px) {
    .contact .contactMe .row {
        padding-left: 0px;
    }
}

.textarea {
    height: 150px;
    padding-bottom: 110px;
}

.item-form {
    padding: 0px;
}

footer {
    background-color: #343A40;
}